.login-page{
  width:100vw;
  height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  background-image:url("/background.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.login-card{
  width:400px;
  padding:10px;

  background:rgba(255,255,255,0.9);
  border-radius:10px;

  box-shadow:0 10px 25px rgba(0,0,0,0.3);
}